{% extends 'common/base.html' %}
{% block content %}

<div class= 'container d-flex justify-content-center align-items-center vh-100 mb-2 mt-3'>
<div class ="card p-4 shadow" style="width:500px;height:auto" >
<h3 class="text-center mb-3 mt-3">Register</h3>
    <form action="{% url 'form' %}" method="post">
        {% csrf_token %}

        <div class="mb-2">
            <input type="text" name="Firstname" placeholder="Enter Firstname" class="form-control" required>
        </div>

        <div class="mb-2">
            <input type="text" name="Lastname" placeholder="Enter Lastname" class="form-control" required>
        </div>
        <div class="mb-2">
            <input type="text" name="Username" placeholder="Enter Username" class="form-control" required>
        </div>
        <div class="mb-2">
            <input type="email" name="Email" placeholder="Enter Email" class="form-control" required>
        </div>
        <div class="mb-2">
            <input type="Password" name="Password" placeholder="Enter Password" class="form-control" required>
        </div>
        <div class="mb-2">
            <input type="text" name="Address" placeholder="Enter Address" class="form-control" required>
        </div>
        <div class="mb-2">
            <input type="text" name="City" placeholder="Enter City" class="form-control" required>
        </div>
        <div class="mb-2">
            <input type="text" name="State" placeholder="Enter State" class="form-control" required>
        </div>
        <div class="mb-2">
            <input type="number" name="Phone" placeholder="Enter Phone" class="form-control" required>
        </div>
        <div class="mb-2">
            <input type="number" name="Postal_code" placeholder="Enter Postal_code" class="form-control" required>
        </div>

         <div class="mb-2">
            <input type="submit" value="Register" class="btn form-control" style="background-color:blue">
        </div>

    </form>
    
   
</div>
</div>


    {% if messages %}
        {% for msg in messages %}
            <script>alert('{{msg}}')</script>
        {% endfor %}
    {% endif %}
{% endblock %}
